<header class="header_main">
    <nav class="header_nav_main">
        <ul class="header_nav_list">
            <li class="header_nav_list_item">
                <a
                    class="header_nav_list_item_text <%= path === '/'? 'active_nav': '' %>"
                    href="/"
                    >Home</a
                >
            </li>
            <li class="header_nav_list_item">
                <a
                    class="header_nav_list_item_text <%= path === '/users'? 'active_nav': '' %>"
                    href="/users"
                    >Users</a
                >
            </li>
        </ul>
    </nav>
</header>
