<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/navigation.ejs') %>
    <ul>
        <% if (userList.length > 0) { %> <% for (let user of userList) { %>
        <li><%= user %></li>
        <% } %> <% } else { %>
        <h1>No Users</h1>
        <% } %>
    </ul>
</body>
<%- include('includes/end.ejs') %>
