<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/users.css" />
        <title>User Data</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>

        <main>
            <ul class="user_list">
                <li class="user_list_item">John Ashley</li>
                <li class="user_list_item">Tom Henry</li>
                <li class="user_list_item">Henry Cavil</li>
                <li class="user_list_item">Josh Miller</li>
                <li class="user_list_item">Tim Cor</li>
            </ul>
        </main>
    </body>
</html>
