<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/main.css" />
        <title>404</title>
    </head>
    <body>
        <header class="header_main">
            <nav class="header_nav_main">
                <ul class="header_nav_list">
                    <li class="header_nav_list_item">
                        <a class="header_nav_list_item_text" href="/">Shop</a>
                    </li>
                    <li class="header_nav_list_item">
                        <a
                            class="header_nav_list_item_text"
                            href="/admin/add-product"
                            >Add Product</a
                        >
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <h1>Page not found!</h1>
        </main>
    </body>
</html>
