<main>
    <form class="add_product_form" action="/admin/add-product" method="POST">
        <input
            class="add_product_textfield"
            type="text"
            name="title"
            title="Title"
        />
        <button type="submit">Submit</button>
    </form>
</main>