extends layouts/main-layout.pug

block styles
    link(rel="stylesheet" href="/css/shop.css")

block content
    main 
        if prods.length > 0
            h1 My Products 
                each product in prods
                    .main_prod_img
                        img(src="https://picsum.photos/200/300" alt="Pug" height="300px" width="200px")
                    p #{product.title}
        else
            h1 No Products
