<header class="header_main">
    <nav class="header_nav_main">
        <ul class="header_nav_list">
            <li class="header_nav_list_item">
                <a
                    class="header_nav_list_item_text <%= path === '/shop'? 'active_nav': '' %>"
                    href="/"
                    >Shop</a
                >
            </li>
            <li class="header_nav_list_item">
                <a
                    class="header_nav_list_item_text <%= path === '/add-product'? 'active_nav': '' %>"
                    href="/admin/add-product"
                    >Add Product</a
                >
            </li>
        </ul>
    </nav>
</header>
